body {
  font-family: "Lato", sans-serif !important;
  background-color: #f1f1f1 !important;
}

.pointer {
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

.circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.3s ease-in;
  border: none;
}

.circle:hover {
  opacity: 0.8;
}

.circle:active {
  transform: scale(1.1);
}
